// Uncomment to disable dingbat icons below posts
// hr.dingbat { display: none }


.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}

.content a:not(.btn) {
    color: #4fb1ba;
    border-color: rgba(79,177,186,0.2);
}
html {
  --font-weight-heading: 400

}
